.office{
  margin-left: auto;
  margin-right: auto;
}
.office h1{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  
  text-align: left;
  margin-top: 30px;
  color: #00FFFF;
}
.office h2{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-align: left;
  color: rgba(0, 255, 255, 0.8);
  margin-top: 45px;
  margin-bottom: 45px;
}
.office table{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: none;
  border-style: none;
}
.office button{
  width: 100%;
  max-width: 169px;
  height: 45.29px;
  background: #15C2C2;
  box-shadow: 0px 8px 11px rgba(0, 0, 0, 0.147481);
  border-radius: 22.6449px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  margin-top: 25px;
  text-transform: uppercase;

  color: #FFFFFF;
}
.color-table-verde{
  color: #24FF00;
}
.color-table-vermelho{
  color: #FF0000;
}
.office img{
  margin-top: 35px;
}
.office p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-top: 5px;
  color: #FFFFFF;
}
.office hr{
  border: 1px solid #FFFFFF;
}