@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
.home{
  margin-left: auto;
  margin-right: auto;
  background-image: url('../../assets/circulo.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -150px;
}
.home h1{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 51px;
  color: rgba(0, 0, 0, 0.8);
  padding-top: 270px;
  margin-bottom: 200px;
}
.home h2{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;  
  color: rgba(0, 0, 0, 0.8);
  margin-top: -180px;
}
.home p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px; 
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 115px;

}
.home img{
  display: none;
}
@media (max-width: 690px){
  .home{
    background-image: none;
    margin-bottom: 0px;
  }
  .home img{
    display: inline;
    width: 200px;
    margin-bottom: -200px;
  }
  .home h1{
    font-size: 32px;
    line-height: 32px; 
  }
  .home h2{
    font-size: 20px;
  }
  .home p{
    margin-top: 10px;
    font-size: 16px;
    line-height: 18px;
  }
}


