@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap');
.office{
  margin-left: auto;
  margin-right: auto;
}
.office h1{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  text-align: left;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.office h2{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 5px;
  margin-bottom: 10px;
}
.office table{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.8);
  border: none;
  border-style: none;
}
.office .color-table-verde{
  color: #007A56;
}
.office .color-table-vermelho{
  color: #E20000;
}
.office img{
  margin-top: 35px;
}
.office p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 690px){
  .office table{
    margin-bottom: 25px;
  }
}
