.logon{
  margin-left: auto;
  margin-right: auto;
  background-image: url('../../assets/circulo.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -190px;
}
.logon h1{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 150px;
}
.logon input{
  width: 350px;
  height: 45.29px;
  border-radius: 22.6449px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.8);
}
.logon button{
  width: 100%;
  max-width: 350px;
  height: 45.29px;
  background: #15C2C2;
  box-shadow: 0px 8px 11px rgba(0, 0, 0, 0.147481);
  border-radius: 22.6449px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  margin-top: 15px;
  text-transform: uppercase;

  color: #FFFFFF;
}
.logon p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 20px;


}
.logon label{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);

}
