@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap');
.ranking input{
  margin-left: auto;
  margin-right: auto;
  background: rgba(21, 194, 194, 0.10);
  border-radius: 22.6449px;
  height: 45.29px;
  max-width: 500px;
  width: 100%;
  margin-top: 20px;   
}
.ranking .colocacao p + img{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 39px;
  color: #363432;
}
.ranking .colocacao{
  max-width: 400px;
  width: 100%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 80px;
  margin-top: 10px;
}
.ranking img{
  margin-bottom: 5px;
}
.ranking .colocacao img{
  margin-left: -2px;
}
.ranking p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 39px;
  color: #363432;
  margin-bottom: -0.5px;
}
@media (max-width: 1357px) {
  .ranking .colocacao{
    max-width: 300px;
    margin-bottom: 25px;
  }
  .ranking #img{
    margin-top: -145px;
  }
  .ranking #img p{
    margin-top: -10px;
  }
}
