@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body{
  font: 400 14px Roboto, sans-serif;
  background: url('../src/assets/meio-circulo-azul.png') left, 
  url('../src/assets/meio-circulo-amarelo-vermelho.png') right;
  background-position-y: center;
  background-repeat: no-repeat;
  background-color:#EDEDED;
}
a{
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
.navbar{
  text-decoration: none;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 21px;
  margin-left: 90px;
}
.nav-link{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
.navbar-brand{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bitter:400,700&display=swap');

.question h1{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 20px;
}
.question h2{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 42px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 20px;
}
.question p{
  margin-top: 35px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.8);
}
.question button{
  width: 100%;
  height: 100%;
  background: #E6E8F0;
  border-radius: 5px;
  margin-top: 5px;
  font-family: Bitter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #3E4FBF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}
.question div .col-sm{
  margin-bottom: 5px;
}

.progressBar{
  margin-top: 35px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}
@media (max-width: 690px){
  body{
    background-image: none;
  }
  .navbar{
    margin-left: 0;
    text-align: center;
    font-size: 20px;
  }
}